#images-holder { 

    background-color: black;
}

body {
    background-image: url("http://cdn.sub.blue/images/gallery/planar/planar-1-960.jpg?20160905");
}

#images-container {
    color: white;
}
/* 
#search-text {
    color: white;
    font-size: 20px;
    width: 150px
} */